body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(118, 118, 255);
  background-color: rgb(28, 23, 39);
  min-height: 100vh;
  font-size: 52px;
  text-align: right;
}
