body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(164, 164, 254);
  background-color: rgb(28, 23, 39);
  min-height: 100vh;
  font-size: 20px;
  text-align: right;
}
